body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f7ff;
}

h1 {
	text-align: center;
	color: #090520;
}

form {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

.column {
	background-color: #e4ecff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(49, 49, 50, 0.1);
	padding: 20px;
	width: 30%;
}

label {
	display: block;
	margin-bottom: 8px;
	color: #0e153c;
}

input,
select,
textarea,
button {
	color: #080427;
	width: 100%;
	padding: 10px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #d2d7de;
	border-radius: 4px;
	background-color: #f4f7ff;
}

button {
	background-color: #00315cee;
	color: rgb(218, 220, 236);
	border: none;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #00315c;
}

/* Add more styles as needed */
